*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    outline: none;
}
a{
    text-decoration: none;
}




body{
    background: #000 url(../../public/images/background-ruletka.png) no-repeat;
    background-position: center top;
    background-size: 100% auto;
    font: normal 20px arial;
    color: #FFF;

    header{
        max-width: 940px;
        margin: 20px auto 0 auto;
        .head{
            display: flex;
            align-items: center;
        }
        .logo{
            width: 107px;
            height: 22px;
            font-size: 30pt;
            flex-shrink: 0;
            color: #FFF;
            margin-right: auto;
            margin-left: 25px;
            background: url(../../public/images/logo.png) no-repeat;
        }
        form{
            display: flex;
            .form-item{
                position: relative;
                margin: 0 5px;
                width: 150px;
                height: 25px;
                input{
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to bottom right, rgba(1, 2, 3, 0.7), rgba(6, 9, 12, 0.7));
                    background-color: transparent;
                    border-radius: 4px;
                    padding: 0 10px;
                    color: #FFF;
                    text-transform: capitalize;
                    border:none;
                    border-left: 1px solid rgba(100,100,100,0.3);
                    border-bottom: 1px solid rgba(156,154,154,0.3);
                    font-size: 12px;
                }
                button{
                    font-size: 13px;
                    padding: 4px 12px;
                    position: absolute;
                    right: 2px;
                    top: 2px;
                    background: #212121 linear-gradient(to bottom, transparent 30%, rgba(0,0,0,0.3) 65%);
                    border:none;
                    border-radius: 4px;
                    color: #7f7f7f;
                    text-transform: uppercase;
                }
                a{
                    display: block;
                    position: absolute;
                    top: 32px;
                    font-size: 11px;
                    color: #5a5a5a;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
        ul.nav{
            list-style: none;
            display: flex;
            width: 100%;
            margin-top: 21px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
            li{
                flex-grow: 1;
                height: 45px;
                background:#191A1D linear-gradient(to bottom, transparent 30%, rgba(0,0,0,0.3) 65%);
                box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
                transition: 0.3s ease-out;
                &:first-child{
                    border-radius: 4px 0 0 4px;
                }
                &:last-child{
                    border-radius: 0 4px 4px 0;
                }
                &.active{
                    background:#d40100 linear-gradient(to bottom, transparent 30%, rgba(0,0,0,0.3) 65%);
                    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
                    &:hover{
                        background-image: linear-gradient(to bottom, transparent 30%, rgba(0,0,0,0.3) 65%);
                        a{
                            color: #FFF;
                        }
                    }
                }
                a{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    color: #FFF;
                    transition: 0.3s ease-out;
                    font-size: 11pt;
                }
                &:hover{
                    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 30%, transparent 65%);
                    a{
                        color: #d40100;
                    }
                }
            }
        }
        .btn{
            font-size: 14px;
            padding: 4px 15px;
            margin: 0 5px;
            background: #212121 linear-gradient(to bottom, transparent 30%, rgba(0,0,0,0.3) 65%);
            border:none;
            border-radius: 4px;
            color: #7f7f7f;
            text-transform: capitalize;
            transition: 0.3s ease-out;
            cursor: pointer;
            &:hover{
                background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 30%, transparent 65%);
                color:#8a8a8a;
            }
        }
        .langbar{
            text-transform: uppercase;
            font-size: 12px;
            padding: 6px 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            img{
                width: 16px;
                height: 12px;
                margin-right: 5px;
            }
        }
    }
    main{
        max-width: 940px;
        margin: 70px auto 0 auto;
        .main-menu{
            width: 100%;
            .menu{
                display: flex;
                width: 100%;
                list-style: none;
                li{
                    flex-grow: 1;
                }
                a{
                    color: #7f7f7f;
                }
            }
        }
    }
    footer{

    }
}